@media (max-width: 1024px) {
    body {
        margin-top: 4%;
    }
    /* Header */
    .header {
        padding: 10px 10%;
    }    

    .menu {
        display: inline-flex;
    }

    #check:checked~.menu #menu-icon {
        display: none;
    }

    #check:checked~.menu #close-icon {
        display: block;
    }

    .menu #close-icon {
        display: none;
    }

    .navbar {
        position: absolute; top: 100%; left: 0%;
        width: 100%; height: 0; transition: 0.3s ease-in-out;
        overflow: hidden; box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
        background: white;
    }

    #check:checked~.navbar {
        height: 12rem;
    }

    .navbar a {
        display: block; text-align: center;
        margin: 1rem 0; transform: translateY(-50px);
        transition: 0.3s ease; opacity: 0;
        font-size: 0.8rem; color: black;
    }

    #check:checked~.navbar a {
        transform: translateY(0); opacity: 1;
        transition-delay: calc(.1s * var(--i));
    }

    .navbar a:hover {
        border: none; color: rgb(0, 0, 152);
    }

    .navbar .active {
        color: rgb(0, 0, 152);
    }

    .header-kanan i {
        font-size: 1.5rem;
    }

    /* Banner */
    .banner {
        height: 70vh;
    }

    .banner img {
        width: 20%;
    }

    .banner h1 {
        font-size: 1.8rem;
    }

    .banner h2 {
        color: white; font-size: 3rem;
    }

    /* Sejarah */
    .sejarah {
        display: block;
    }    

    .sejarah-img {
        text-align: center;
    }

    .sejarah-img img {
        width: 40%;
    }

    .text-sejarah {
        margin: auto; width: 100%;
    }

    .text-sejarah h1, h2 {
        text-align: center;
    }

    .text-sejarah h2 {
        font-size: 3rem;
    }

    .text-sejarah p {
        font-size: 0.9rem;
    }

    .text-sejarah-btn {
        font-size: 0.8rem;
    }

    /* Testimonial */
    .testimonials-section .section-title {
        font-size: 2rem; margin-bottom: -10%;
    }

    .testimonials-section .testimonial .feedback {
        text-align: justify;
    }

    /* E-Commerce */
    .e-commerce h1 {
        font-size: 2rem; margin-bottom: 10%;
    }    

    .card-ecommerce {
        display: block; text-align: center;
    }

    .card-ecommerce img {
        width: 30%;
    }

    .box-ecommerce {
        margin-bottom: 5%;
    }

    /* Footer */
    footer {
        padding: 20px 0px;
    }
}

@media (max-width: 425px) {   
    /* Banner */
    .banner {
        height:40vh; background-position: top;
    }

    .banner-content  h1{
        font-size: 1rem;
    }

    .banner-content h2 {
        font-size: 1.5rem;
    }

    /* Sejarah */
    .sejarah {
        margin-top: -40px;
    }
    .sejarah-img {
        width: 100%;
    }

    .sejarah-img img {
        width: 70%;
    }

    .text-sejarah {
        margin-top: -40px;
    }

    .text-sejarah p {
        line-height: 25px;
    }

    .social-icons-sejarah {
        text-align: center;
    }

    .social-icons-sejarah a {
        width: 2rem; height: 2rem; font-size:1rem;
    }
    
    /* Testimonial */
    .testimonials-section .section-title {
        margin-bottom: -30%;
    } 

    .testimonials-section .slider-wrapper {
        margin: 0 10px 50px;
    }

    /* E-Commerce */
    .e-commerce {
        margin-bottom: 10%;
    }

    .e-commerce h1 {
        font-size: 1.6rem;
    }

    .card-ecommerce img {
        width: 40%;
    }

    /* Footer */
    footer {
        font-size: 1rem; text-align: center;
        display: block;
    }

    footer .cr {
        width: 65%; margin: auto;
    }

    .social-icons a {
        width: 2rem; height: 2rem; font-size:1rem;
        margin-top: 10%;
    }
}