* {
    padding: 0%; margin: 0%; text-decoration: none;
    list-style: none; font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root {
    /* Font size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Font weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Site max width */
    --site-max-width: 1300px;
}

html {
    scroll-behavior: smooth;
}

/* Stylings for whole site */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer; background: none; border: none;
}

img {
    width: 100%;
}

:where(section, footer) .section-content {
    margin: 0 auto; padding: 0 20px;
    max-width: var(--site-max-width);
}

section .section-title {
    text-align: center; padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

/* Header */
.header {
    position: fixed; top: 0%; left: 0%; width: 100%;
    display: flex; padding: 10px 10%;
    justify-content: space-between; align-items: center;
    z-index: 100; background-color: rgb(0, 0, 152);
}

.header .header-logo h1 {
    color: white; font-size: 1.3rem;
    transition: 0.3s ease;
}

.header .header-logo h1:hover {
    color: yellow;
}

#check {
    display: none;
}

.menu {
    font-size: 1.5rem; color: white; cursor: pointer;
    position: absolute; right: 5%; display: none;
}

.navbar a {
    font-size: 0.9rem; color: white;
    padding: 10px 20px; text-transform: uppercase;
    border-radius: 10px; transition: 0.5s ease;
}

.navbar a:hover {
    color: yellow;
}

.navbar .active {
    color: yellow;
}

/* Banner */
.banner {
    background-image: linear-gradient(rgb(0, 0, 0, 0.45), 
    rgb(0, 0, 0, 0.45)), url(image/banner.jpg);
    height: 100vh; background-position: top; 
    background-repeat: no-repeat;
    background-size: cover; margin-bottom: 5%;
    display: flex; align-items: center; 
    justify-content: center;
}

.banner-content {
    text-align: center;
}

.banner h1 {
    color: white; font-size: 2rem;
    text-shadow: 0 0 20px black;
}

.banner h2 {
    color: white; font-size: 4rem;
}

/* Sejarah */
.container {
    display: flex; align-items: center;
    justify-content: center; margin-bottom: 5%;
}

.sejarah {
    display: flex; align-items: center;
    justify-content: center; width: 80%;
}

.sejarah-img {
    width: 40%;
}

.text-sejarah {
    width: 50%;
}

.text-sejarah h2 {
    color: rgb(0, 0, 152); font-size: 3rem;
    margin-bottom: 2%;
}

.text-sejarah p {
    text-align: justify; line-height: 50px;
    margin-bottom: 2%; font-size: 2rem;
}

.text-sejarah span {
    color: rgb(0, 0, 152); font-weight: bold;
}

.social-icons-sejarah a {
    display: inline-flex; justify-content: space-around;
    align-items: center; width: 2.8rem; height: 2.8rem;
    color: white; font-size:1.5rem; margin-bottom: 5%;
    background-color: rgb(0, 0, 152); margin: 10px;
    border-radius: 50%; transition: 0.3s ease;
}

.social-icons-sejarah a:hover {
    box-shadow: 0  0 10px 2px rgb(0, 0, 152);
    transform: scale(1.1);
}

/* Testimonials section styling */
.testimonials-section {
    margin-bottom: 10%;
}

.testimonials-section .section-title {
    font-size: 3rem; margin-bottom: -5%;
}

.testimonials-section .slider-wrapper {
    overflow: hidden; margin: 0 60px 50px;
}

.testimonials-section .testimonial {
    user-select: none; padding: 35px; display: flex;
    flex-direction: column; justify-content: center;
    align-items: center; text-align: center;
}

.testimonials-section .testimonial .user-image {
    width: 200px; height: 200px;
    margin-bottom: 50px; object-fit: cover;
    border-radius: 10px;
}

.testimonials-section .testimonial .name {
    margin-bottom: 16px;
}

.testimonials-section .testimonial .feedback {
    line-height: 25px;
}

.testimonials-section .swiper-slide-button {
    margin-top: -50px; transition: 0.3s ease;
    color: black;
}

.testimonials-section .swiper-slide-button:hover {
    color: rgb(0, 0, 152);
}

/* E-Commerce */
.e-commerce h1 {
    font-size: 3rem; text-align: center; margin-bottom: 3%;
}

.card-ecommerce {
    display: grid; grid-template-columns: repeat(3, 1fr);
    width: 80%; margin: auto; gap: 10rem;
}

/* Footer */
footer {
    background-color: rgb(0, 0, 152); display: flex;
    padding: 20px 30px; color: white;
    justify-content: space-between; align-items: center;
    font-size: 1.2rem;
}

.social-icons a {
    display: inline-flex; justify-content: space-around;
    align-items: center; width: 2.5rem; height: 2.5rem;
    background-color: transparent; color: white;
    border: 1.5px solid white; font-size: 1.5rem;
    border-radius: 50%; margin: 10px; transition: 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1); color: black;
    background-color: white; box-shadow: 0  0 25px white;
}